@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor{
    display: grid;
    grid-template-areas: "header header header"
                          "main main main"
                          "footer footer footer";
}


header{
    grid-area: header;
    border-bottom: solid white;
    margin: 50px 20px;
}


.escalar {
    animation-name: scale;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scale {
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.2);
    }
}

nav{
    margin: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar{
    list-style-type: none;
    display: flex;
}

h1{
    color: white;
    border: solid;
    background-color: rgb(58, 127, 255);
    padding: 5px;
}


nav ul li a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    border: solid;
    background-color: white;
    color: rgb(44, 128, 255);
    width: 150px;
    padding: 0px 10px;
    margin: 5px;

 }

 nav ul li a:hover{
     background-color: rgb(44, 128, 255);
     color: white;
 }

main{
    grid-area: main;
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

/*
.textoscentral{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.textos{
    border: solid;
    background-color: rgba(0, 119, 255, 0.76);
    width: 450px;
    height: 130px;
    padding: 5px;
}

.imagenhome{
    border: solid;
    color: blue;
}

/*
.card{
    display: flex;
    text-align: center;
    grid-area: card;
    width: 50%;
    align-content: center;
}
*/
.tituloyparrafo{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.textosimpresiones{
   display: flex;
   flex-direction: column;
   height: 230px;
   width: 300px;
   background-color: rgba(0, 132, 255, 0.767);
   border: solid;
   border-color: black;
   color: rgb(255, 255, 255);
   padding: 5px 5px;
}
   
.imagenesimpresiones{
    display: flex;
    flex-direction: column;
    }

.imaguno{
    margin: 10px;
    border: solid;
    color: rgb(45, 101, 255);
     
}

.imagdos{
    margin: 10px;
    border: solid;
    color: rgb(45, 101, 255);
  
}

footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
     }
    

h3{
   margin: 5px;
    padding: 5px;
    border: solid;
    color: rgb(46, 144, 255);
    background-color: white;
  
}

.ig{
    background-color: white;
    border-radius: 100px;
    border: solid;
    color: rgb(60, 161, 255);
    width: 50px;
}
.productos{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.tituloProductos{
    text-align: center;
    border: solid;
    color: white;
    background-color: rgba(27, 118, 255, 0.753);
    width: 250px;
    margin: 5px;
}

.cajasproductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
}

main div img{
    border: solid;
    border-color: rgb(255, 255, 255);
    margin: 2px;
}

.textosvideo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textosnosotros{
    border: solid;
    color: white;
    border-color: rgb(47, 113, 255);
    background-color: rgba(66, 148, 255, 0.74);
    padding: 5px;
    margin: 10px;
}

iframe{
    border: solid;
    border-color: white;
}

.formulariocontacto{
    display: flex;
    justify-content: center;
}

.telcontact{
    text-align: center;
    font-size: 20px;
    background-color: rgba(6, 143, 255, 0.808);
    border: solid;
    color: white;
    height: 90px;
    padding: 0px 10px;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0px 5px;
}

@media screen and (max-width:600px) {
    header{
        display: block;
    }
    .navbar{
        display: block;
    }

    h1{
        display: none;
    }

    main{
        margin: 1rem;
        grid-template-areas: "card";
    }

/*
    .textoscentral{
        flex-direction: column;
    }
*/
    footer{
        flex-direction: column;
        align-items: center;
    }

    .tituloyparrafo{
        flex-direction: column;
    }

    .tituloProductos{
            font-size: 20px;
    }
    
    .cajasproductos{
        width: 500px;
    }
    .textosnosotros{
        font-size: 10px;
    }

    iframe{
        width: 300px;
        height: 200px;
    }

    .textosimpresiones{
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    header{
        display: block;
    }
    .navbar{
        display: block;
    }

    h1{
        display: none;
    }

    main{
        display: grid;
        grid-template-areas: "card";
    }

    .card{
        
        justify-items: center;
    }
/*
    .textoscentral{
        flex-direction: column;
    }
*/
    footer{
        flex-direction: column;
        align-items: center;
    }

    .tituloyparrafo{
        flex-direction: column;
    }

    .tituloProductos{
            font-size: 20px;
    }
    
    .cajasproductos{
        width: 500px;
    }
    .textosnosotros{
        font-size: 10px;
    }

    iframe{
        width: 300px;
        height: 200px;
    }

    .textosimpresiones{
        text-align: center;
    }
}